
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masjid App</title>

</head>
<body class="body22">

    <div class="shadyWrapper">
      <div class="shadyContent">
        <div class="firstHeader">
            <h2 style="font-size: 30px; text-align: center;">Thank you for confirming your email!</h2>
        </div>
        <div class="listHeader">
            <h2 class="font_2" style="font-size: 30px; text-align: center;">You can now login.</h2></div>
        </div>
      </div>
    </div>


</body>
</html>

